body { 
    background-color: rgb(0, 0, 0); 
}



.title {
    text-align: center;
    font-family: 'Bangers'; 
    color: aliceblue;
    font-size: 39px;
 
}

@keyframes colorChange {
    0% {
        color: aliceblue;
    }
    50% {
        color: #6EC9F5; 
    }
    100% {
        color: aliceblue; 
    }
}

.title {
    animation: colorChange 2s infinite; 
}


.games-section h2 {
    text-align: left;
    padding: 20px;
    font-size: 19px;
}



h2 {
    color: #6EC9F5;
    text-align: center; 
    padding: 0px;
    margin: 0;
    font-size: 14px
}

.bangers-regular {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
}

.nav-menu {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: #6E9EF5;
    border-radius: 20px;
}

/*ANIMATION FOR LI IN ZOOM*/
@keyframes zoomLi {
    0% {
        transform: scale(1); 
    }
    100% {
        transform: scale(1.1); 
    }
}


.nav-menu li {
    display: inline-block; 
    padding: 10px 20px;
    transition: transform 0.3s ease; 
}


.nav-menu li:hover {
    animation: zoomLi 0.5s forwards; /* Animação de zoom ao passar o mouse */
}

.nav-menu li a {
    color: yellow;
}

.nav-menu li a:hover {
    color: lightblue; 
}

li {
    font-size: 20px;
    font-family: "Bangers", system-ui;
    display: inline;
    padding: 25px;
}


.games-section {
    font-family: 'crossorigin'
}


.gameitem h3 {
    color: azure;
}
