/* Corpo */
body {
    background-color: #121212;  
    color: #E0E0E0;  
    font-family: 'Montserrat', sans-serif; 
    margin: 0;
    padding: 0;
}

/* Título principal com animação de cor */
.title {
    text-align: center;
    font-family: 'Bangers', cursive; 
    color: #E0E0E0;  
    font-size: 42px;
    animation: colorChange 3s infinite alternate;  
    margin-top: 20px;
}

@keyframes colorChange {
    0%, 100% { color: #E0E0E0; }
    50% { color: #6EC9F5; }
}

/* Seção de games */
.games-section {
    display: flex;  
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 20px; 
    padding: 20px; 
}

/* Cada item de jogo */
.gameitem {
    flex: 1 1 calc(33.333% - 20px); 
    box-sizing: border-box; 
    background-color: #2a2a2a;
    padding: 15px;
    border-radius: 10px; 
    transition: transform 0.3s ease;  
    overflow: hidden;  
}

/* Efeito ao passar o mouse sobre o item de jogo */
.gameitem:hover {
    transform: scale(1.03);
    background-color: #333;
}

/* Título dentro do item de jogo */
.gameitem h3 {
    color: #FFFFFF;
    font-size: 18px;
    margin: 10px 0;
}

/* Imagens dos jogos */
.gameitem img {
    width: 100%; 
    max-width: 150px; 
    height: auto;  
    border-radius: 8px;  
    object-fit: cover; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);  
    margin-bottom: 10px;  
}

/* Descrição do jogo  começar oculta */
.gameitem p {
    color: #ddd;  
    font-size: 14px;
    line-height: 1.5; 
    display: none;  
    text-align: center;
}

/* Mostrar a descrição quando o botão for clicado */
.gameitem .description.show {
    display: block; 
}

/* Navegação */
.nav-menu {
    list-style-type: none;
    padding: 10px;
    text-align: center;
    background-color: #252525;
    border-radius: 25px;
    margin: 20px auto;
    max-width: 600px;
}

.nav-menu li {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-family: 'Bangers', cursive;
    transition: transform 0.3s ease, color 0.3s ease;
}

.nav-menu li:hover {
    transform: scale(1.1);
    color: #FFD700;
}

.nav-menu li a {
    color: #FFF;
    text-decoration: none;
}

.nav-menu li a:hover {
    color: #6EC9F5;
}

/* Botão estilo */
.toggle-description {
    background-color: #910a96;  
    color: white;  
    border: none;  
    padding: 10px 20px;  
    border-radius: 8px; 
    font-family: 'Arial', sans-serif; 
    font-size: 14px; 
    cursor: pointer;  
    transition: background-color 0.3s ease, transform 0.2s ease;  
}

.toggle-description:hover {
    background-color: #4e074b;  
    transform: scale(1.05);  
}

.toggle-description:active {
    background-color: #690669;  
    transform: scale(0.95);  
}
